.h4 Repos

- @repos.each do |repo|
	.repo
		.ident
			.owner= 			repo.owner
			.name= 			repo.name
			.description= 	repo.description
			.community_text= repo.community_text
			.watchers= 		repo.watchers
			.forks= 			repo.forks
			%a.html_url(href="#{ repo.html_url }")
			%a.homepage(href="#{ repo.homepage }")
			.acitivity
				.last_updated= 	repo.last_updated
				.activity_wheel

= render(partial: "shared/add_repo")
