.repo
	- if repo.ident.include? "."
		%a.show(href="/repos/#{ repo.id }")
			.ident
				%span.owner= 			repo.owner
				\ / 
				%span.name= 			repo.name
	- else
		%a.show(href="/repos/#{ repo.ident }")
			.ident
				%span.owner= 			repo.owner
				\ / 
				%span.name= 			repo.name
	.description= 		repo.description
	-if repo.community_text
		.community_text= 	truncate(repo.community_text, length: 140)
	.stats
		%span.acitivity
			.activity_wheel(class="#{activity_wheel(repo.last_updated)}")
		|
		%span.watchers 			W: #{ repo.watchers }
		|
		%span.forks 				F: #{ repo.forks }
	%a.html_url(href="#{ repo.html_url }") Github
	|
	%a.homepage(href="#{ repo.homepage }")	Homepage
	|
	-# Nicer URL than just ID for repos that have no "." in identifier (those with "." would otherwise not be routed correctly)
	- if repo.ident.include? "."
		%a.show(href="/repos/#{ repo.id }") Show
	- else
		%a.show(href="/repos/#{ repo.ident }") Show